<div class="row">
  <h5 class="col-sm-12">{{ 'Two-factor authentication' | translate }}</h5>
</div>
<div class="form-group row">
  <div class="col-md-12">{{ 'MOSS supports two factor authentication' | translate }}.</div>
<div class="col-md-12">{{ 'You currently have 2FA ' | translate }} {{twoFAEnabled | translate}}</div>
  <div class="col-md-auto">
    <button type="button" class="btn btn-primary" *ngIf="!this.currentUser.uses2FA" (click)="openEnable2FA()">{{ 'Enable 2FA' | translate }}</button>
    <button type="button" class="btn btn-primary" *ngIf="this.currentUser.uses2FA" (click)="openDisable2FA()">{{ 'Disable 2FA' | translate }}</button>
  </div>
</div>
<div class="row">
  <h5 class="col-sm-12">{{ 'Change account credentials' | translate }}</h5>
</div>
<form [formGroup]="profileCredentials">
  <!-- Name Change input -->
  <div class="form-group row">
    <label for="nameChange" class="col-sm-12 col-form-label">{{ 'Change name' | translate }}</label>
    <div class="col-sm-12">
      <input type="text" class="form-control" name="nameChange" formControlName="name" id="nameChange" placeholder="{{this.currentUser.name}}"
             [ngClass]="{ 'is-invalid': submitted && this.errorName }">
      <small id="helpNameChange" class="form-text text-muted">{{ "Don't type anything if you don't want to change it" | translate }}.</small>
    </div>
  </div>

  <!-- Email change input -->
  <div class="form-group row">
    <label for="emailChange" class="col-sm-12 col-form-label">{{ 'Change Email' | translate }}</label>
    <div class="col-sm-12">
      <input type="email" class="form-control" name="emailChange" formControlName="email" id="emailChange" aria-describedby="helpEmailChange" placeholder="{{this.currentUser.email}}"
             [ngClass]="{ 'is-invalid': submitted && this.errorEmail }">
      <small id="helpEmailChange" class="form-text text-muted">{{ "Don't type anything if you don't want to change it" | translate }}.</small>
      <div *ngIf="submitted && this.errorEmail" class="invalid-feedback">
        <div *ngIf="this.errorEmail.email">{{ 'Please provide a valid email' | translate }}</div>
      </div>
    </div>
  </div>

  <!-- Password change input -->
  <div class="form-group row">
    <label for="passwordChange" class="col-sm-12 col-form-label">{{ 'Change Password' | translate }}</label>
    <div class="col-sm-12">
      <input type="password" class="form-control" name="passwordChange" formControlName="password" id="passwordChange" aria-describedby="helpPasswordChange" placeholder="{{ 'Change your password' | translate }}"
             [ngClass]="{ 'is-invalid': submitted && (this.errorPassword || this.errorPasswordMatch) }">
      <small id="helpPasswordChange" class="form-text text-muted">{{ "Don't type anything if you don't want to change it" | translate }}.</small>
      <div *ngIf="submitted && (this.errorPassword || this.errorPasswordMatch)" class="invalid-feedback">
        <div *ngIf="this.errorPassword && this.errorPassword.required">{{ 'Password is required' | translate }}</div>
        <div *ngIf="this.errorPassword && this.errorPassword.minlength">{{ 'Password must be at least 8 characters' | translate }}</div>
        <div *ngIf="this.errorPasswordMatch">{{ 'Passwords must match' | translate }}</div>
      </div>
    </div>
  </div>

  <!-- Password x2 change input -->
  <div class="form-group row">
    <label for="passwordAgainChange" class="col-sm-12 col-form-label">{{ 'Type Password again' | translate }}</label>
    <div class="col-sm-12">
      <input type="password" class="form-control" name="passwordAgainChange" formControlName="passwordAgain" id="passwordAgainChange" aria-describedby="helpPasswordAgainChange" placeholder="{{ 'Change your password' | translate }}"
             [ngClass]="{ 'is-invalid': submitted && (this.errorPasswordAgain || this.errorPasswordMatch) }">
      <small id="helpPasswordAgainChange" class="form-text text-muted">{{ "Don't type anything if you don't want to change it" | translate }}.</small>
      <div *ngIf="submitted && (this.errorPasswordAgain || this.errorPasswordMatch)" class="invalid-feedback">
        <div *ngIf="this.errorPasswordAgain && this.errorPasswordAgain.required">{{ 'Password is required' | translate }}</div>
        <div *ngIf="this.errorPasswordAgain && this.errorPasswordAgain.minlength">{{ 'Password must be at least 8 characters' | translate }}</div>
        <div *ngIf="this.errorPasswordMatch">{{ 'Passwords must match' | translate }}</div>
      </div>
    </div>
  </div>

  <!-- Profile changes submit -->
  <div class="form-group row">
    <div class="col-sm-auto">
      <button type="submit" class="btn btn-primary btn-block" (click)="onSubmit()">
        <fa-icon [icon]="iconSave"></fa-icon>
        {{ 'Save changes' | translate }}
      </button>
    </div>
  </div>
</form>

<app-two-factor-enable></app-two-factor-enable>
<app-two-factor-disable></app-two-factor-disable>