<div class="container">
  <form [formGroup]="groupEditForm" (ngSubmit)="onSubmit()">
    <div class="row justify-content-between">
      <div class="col-md-6">
        <h2>{{ 'Edit group' | translate }}: {{this.groupBeingEdited.name}}</h2>
      </div>
      <div class="col-md-auto">
        <div class="my-auto" align="right">
          <button type="submit" class="btn btn-success btn-block">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            <fa-icon [icon]="editButton"></fa-icon>
            {{ 'Edit group' | translate }}
          </button>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="form-group">
          <label for="groupName">{{ 'Edit Group name' | translate }}</label>
          <input type="text" name="groupName" id="groupName" class="form-control" formControlName="name" [placeholder]="groupBeingEdited.name" aria-describedby="groupHelpText" [ngClass]="{ 'is-invalid': submitted && this.invalidName }" autofocus>
          <small id="groupHelpText" class="text-muted">{{ 'Enter your groups new name here or leave it empty' | translate }}.</small>
        </div>

        
        <div class="form-group">
          <label for="memberSearch">{{ 'Add Members' | translate }}</label>
          <input #memberSearch type="search" name="memberSearch" id="memberSearch" class="form-control" placeholder="{{ 'Search for members' | translate }}" aria-describedby="helpMemberSearch" (input)="searchInvitees(memberSearch.value)">
          <small id="helpMemberSearch" class="text-muted">{{ 'Type their e-mail addresses or names' | translate }}.</small>
        </div>

        <label for="userSearchResults" *ngIf="this.searching">{{ 'Search results' | translate }}</label>
        <div class="row">
          <div class="col-sm-12 scrolling">
            <div class="form-group list-group" *ngFor="let user of userSearchResult$ | async">
              <div id="userSearchResults" class="btn-group mb-1" role="group" *ngIf="(this.currentUser._id !== user._id) && searching && (this.members_to_be_added.get(user.email) === undefined)">
                <button class="list-group-item list-group-item-action">
                  <div class="row">
                    <div class="col-sm-1 my-auto">
                      [Icon]
                    </div>
                    <div class="col-sm-4 my-auto">
                      {{user.name}}
                    </div>
                    <div class="col-sm-7 my-auto">
                      <div align="center">
                        {{user.email}}
                      </div>
                    </div>
                  </div>
                </button>
                <button type="button" class="btn btn-success" (click)="addToList(user)"><fa-icon [icon]="addButton"></fa-icon> {{ 'Add' | translate }}</button>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="filterSearch">{{ 'Filter members' | translate }}</label>
          <input type="search" name="filterSearch" id="filterSearch" class="form-control" placeholder="{{ 'Filter members' | translate }}" aria-describedby="helpFilterSearch" [(ngModel)]="memberToBeAddedNameFilter" [ngModelOptions]="{standalone: true}">
          <small id="helpFilterSearch" class="text-muted">{{ 'Type their e-mail addresses or names' | translate }}.</small>
        </div>

        <label for="addedMembers" *ngIf="this.members_to_be_added.size > 0">{{ 'Added members' | translate }}</label>
        <div class="row">
          <div class="col-sm-12 scrolling">
            <div class="form-group list-group" *ngFor="let entry of filteredMembersToBeAdded(this.members_to_be_added | keyvalue)">
              <div id="userSearchResults" class="btn-group mb-1" role="group" *ngIf="this.members_to_be_added.size > 0">
                <button class="list-group-item list-group-item-action">
                  <div class="row">
                    <div class="col-sm-1 my-auto">
                      [Icon]
                    </div>
                    <div class="col-sm-4 my-auto">
                      {{entry.value.name}}
                    </div>
                    <div class="col-sm-7 my-auto">
                      <div align="center">
                        {{entry.value.email}}
                      </div>
                    </div>
                  </div>
                </button>
                <button type="button" class="btn btn-danger" (click)="removeFromList(entry.value)"><fa-icon [icon]="deleteButton"></fa-icon> {{ 'Delete' | translate }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
